<?xml version="1.0" encoding="utf-8"?>
<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  IgnorableNamespaces="uap mp">

  <Identity
    Name="1400cd93-f034-4535-95f6-d1bfe35375b8"
    Version="1.0.0.0"
    Publisher="CN=davev_000" />

  <mp:PhoneIdentity PhoneProductId="1400cd93-f034-4535-95f6-d1bfe35375b8" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>FamousDemo</DisplayName>
    <PublisherDisplayName>davev_000</PublisherDisplayName>
    <Logo>app\images\storelogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.10069.0" MaxVersionTested="10.0.10069.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate" />
  </Resources>

  <Applications>
    <Application
      Id="App"
      StartPage="app\index.html">

      <uap:VisualElements
        DisplayName="FamousDemo"
        Description="FamousDemo"
        BackgroundColor="#464646"
        Square150x150Logo="app\images\Logo.png"
        Square44x44Logo="app\images\SmallLogo.png">

        <uap:SplashScreen Image="app\images\splashscreen.png" />

      </uap:VisualElements>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>

</Package>
